body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #cae09f;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.menu button {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #438daa;
    cursor: pointer;
}

.menu button:hover {
    background-color: #64a737;
}

#content {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background: white;
    display: inline-block;
}
