body {
  background: linear-gradient(to bottom right, #dff1ff, #8ec5fc);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header & logo */
.page-header {
  background-color: #f3eaea49;
  padding: 10px 32px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  border-radius: 18px;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3em;
  color: #111e3b;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.container-header {
  max-width: 1000px;
  padding: 0 20px;
}

/* Title */
.page-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 32px;
}

.page-title h2 {
  color: #01182e;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 13px;
}

.page-title h1 {
  color: #01182e;
  font-size: 32px;
  font-weight: 700;
  margin-top: 0px;
}
/* Main content */
.algo-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.algo-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.5s ease;
}

.algo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.algo-card img {
  width: 320px;
  height: 140px;
  object-fit: contain;
  margin-bottom: 12px;
  transition: transform 0.5s ease;
}
.algo-card:hover img {
  transform: scale(1.1);
}

.algo-card h3 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 8px;
  color: #1a1a1a;
}

.algo-card p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15.6px;
  color: #555;
  line-height: 1.7;
  border : 0.5px solid #c5c1c149;
  padding: 18px 20px;
  border-radius: 10px;
}
.link{
  text-decoration: none;
}
/* Footer */
.footer {
  margin-top: 10px;
  background-color: #0313411e;
  padding: 3px 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  border-radius: 18px;
}

.authors {
  display: flex;
  justify-content: center;
  gap: 75px;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

.circle {
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
  border-radius: 60%;
  margin-top: 10px;
  margin-bottom: 5px;
}
#user_one_photo {
  background-image: url('png/user_one.png');
}
#user_two_photo {
  background-image: url('png/user_two.png');
}
.name {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.role {
  font-size: 14px;
  color: #696262;
  margin-top: 4px;
  margin-bottom: 0px;
}
.footer-footer {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.4;
  pointer-events: none;
}