body {
  background: linear-gradient(to bottom right, #f0f4f8, #ffffff);
}

/* Header & logo */
.page-header {
  background-color: #ffffffbe;
  padding: 10px 32px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  border-radius: 12px;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #111e3b;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
/* Title */
.page-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 32px;
}

.page-title h2 {
  color: #0a1f44;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 13px;
}

.page-title h1 {
  color: #1a1a1a;
  font-size: 32px;
  font-weight: 700;
  margin-top: 0px;
}
/* Main content */
.algo-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.algo-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
}

.algo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  transition: transform 0.5s ease;
}

.algo-card img {
  width: 320px;
  height: 140px;
  object-fit: contain;
  margin-bottom: 12px;
  transition: transform 0.5s ease;
}
.algo-card:hover img {
  transform: scale(1.1);
}

.algo-card h3 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #1a1a1a;
}

.algo-card p {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}
.link{
  text-decoration: none;
}
/* Footer */
