body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px; 
}

.controls {
    margin-bottom: 50px;
}

#map {
    display: grid;
    margin: 0 auto;
}

.cell {
    width: 30px;
    height: 30px;
    border: 2px solid #b48282;
    cursor: pointer;
    transition: background-color 0.01s ease-in-out;
}

.cell.start {
    background-color: green;
}

.cell.end {
    background-color: red;
}

.cell.wall {
    background-color: black;
}

.cell.path {
    background-color: blue;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        background-color: white;
    }
    to {
        background-color: blue;
    }
}

button {
    padding: 10px 20px;
    background-color: #3ebcc5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #100977;
}

button.clear {
    background-color: #c04b57;
}

button.clear:hover {
    background-color: #99101e;
}
